<a href="https://colab.research.google.com/github/pen1064/Toronto_House_Market/blob/main/Data_Merge_TTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import os
from math import radians, cos, sin, asin, sqrt

In [5]:
filename = os.path.join(os.getcwd(),"subwayStations.shp")
ttcdf = gpd.read_file("subwayStations.shp")

In [6]:
ttcdf.head(4)

      STATION            LINE  ... Opened                        geometry
0     Kipling  Bloor-Danforth  ...   1980  POINT (618101.613 4832636.300)
1   Islington  Bloor-Danforth  ...   1968  POINT (618990.613 4833544.113)
2  Royal York  Bloor-Danforth  ...   1968  POINT (620056.496 4833882.764)
3    Old Mill  Bloor-Danforth  ...   1968  POINT (621361.678 4834111.901)

[4 rows x 10 columns]

In [ ]:
import googlemaps
from datetime import datetime
gmaps = googlemaps.Client(key='YOUR KEY')

raw = []
for row, value in ttcdf.iterrows():
  print(ttcdf.loc[row, 'STATION'] + ' ttc station')
  geocode_result = gmaps.geocode(ttcdf.loc[row, 'STATION'] + " ttc station")
  raw.append(geocode_result)

Kipling ttc station
Islington ttc station
Royal York ttc station
Old Mill ttc station
Jane ttc station
Runnymede ttc station
High Park ttc station
Keele ttc station
Dundas West ttc station
Lansdowne ttc station
Dufferin ttc station
Ossington ttc station
Christie ttc station
Bathurst ttc station
Spadina ttc station
St. George ttc station
Bay ttc station
Bloor-Yonge ttc station
Sherbourne ttc station
Castle Frank ttc station
Broadview ttc station
Chester ttc station
Pape ttc station
Donlands ttc station
Greenwood ttc station
Coxwell ttc station
Woodbine ttc station
Main Street ttc station
Victoria Park ttc station
Warden ttc station
Kennedy ttc station
Union ttc station
St. Andrew ttc station
King ttc station
Osgoode ttc station
Queen ttc station
St. Patrick ttc station
Dundas ttc station
Queen's Park ttc station
College ttc station
Wellesley ttc station
Museum ttc station
Rosedale ttc station
Summerhill ttc station
St. Clair ttc station
Davisville ttc station
Eglinton ttc station
Lawrence ttc station
York Mills ttc station
Sheppard-Yonge ttc station
North York Centre ttc station
Finch ttc station
Spadina ttc station
Dupont ttc station
St Clair West ttc station
Eglinton West ttc station
Glencairn ttc station
Lawrence West ttc station
Yorkdale ttc station
Wilson ttc station
Downsview ttc station
Bayview ttc station
Bessarion ttc station
Leslie ttc station
Don Mills ttc station

In [ ]:
problem_stn = []
TTC_realoc = []
for ind, r in enumerate(raw):
  #print(ttcdf.loc[ind, "STATION"])
  try:
    loc = [r[0]['geometry']['location']['lat'],r[0]['geometry']['location']['lng']]
  except:
    loc = []
    problem_stn.append([ind,ttcdf.loc[ind, "STATION"] ])
  TTC_realoc.append(loc)
print(problem_stn)

[[27, 'Main Street'], [31, 'Union'], [42, 'Rosedale'], [43, 'Summerhill']]

In [ ]:
Missing_Data = [[43.689127, -79.302005], [43.64649081429354, -79.37920332061887], [43.677124989563644, -79.38884626023423], [43.682406262306756, -79.39072075838635]]
for ind, m in enumerate(problem_stn):
  TTC_realoc[m[0]] = Missing_Data[ind] 
print(TTC_realoc)

[[43.6375993, -79.53553029999999], [43.645027, -79.524574], [43.6482202, -79.511319], [43.6500958, -79.49497269999999], [43.6500102, -79.4837178], [43.651708, -79.4759444], [43.6538467, -79.4668176], [43.6554974, -79.4599095], [43.6569297, -79.4531164], [43.6590797, -79.442801], [43.6601528, -79.4356792], [43.6623565, -79.4263675], [43.6641133, -79.41836669999999], [43.6660011, -79.4112152], [43.6671711, -79.40435339999999], [43.6682821, -79.3998421], [43.6703296, -79.3899933], [43.671043, -79.38591799999999], [43.6721666, -79.3764313], [43.6736269, -79.3688482], [43.6769104, -79.3581849], [43.6782356, -79.3524545], [43.679946, -79.34481319999999], [43.6809818, -79.3378352], [43.682552, -79.330353], [43.684135, -79.32312], [43.6863715, -79.31281609999999], [43.689127, -79.302005], [43.693992, -79.2887774], [28.6478898, 180], [43.732504, -79.263632], [43.64649081429354, -79.37920332061887], [43.6476574, -79.3848079], [43.6491523, -79.37785989999999], [43.65061439999999, -79.38683139999999], [43.6523969, -79.3792228], [43.6548308, -79.38834849999999], [43.6562811, -79.380459], [43.6598804, -79.3904768], [43.6613247, -79.3830746], [43.6655194, -79.3838164], [43.6670059, -79.3934342], [43.677124989563644, -79.38884626023423], [43.682406262306756, -79.39072075838635], [43.6874845, -79.3930467], [43.6978369, -79.39664739999999], [43.704966, -79.398985], [43.7253584, -79.40206669999999], [43.7449399, -79.4067176], [43.7620348, -79.4118972], [43.76876650000001, -79.41302689999999], [43.781433, -79.415024], [43.6671711, -79.40435339999999], [43.6748552, -79.40708099999999], [43.6841895, -79.4154172], [43.6993703, -79.4361468], [43.7087787, -79.4407294], [43.7157733, -79.44412109999999], [43.724947, -79.44880700000002], [43.7344665, -79.45010889999999], [43.7534991, -79.478955], [43.766874, -79.3863038], [43.76909149999999, -79.3759078], [43.770847, -79.36779], [43.7757106, -79.3453617]]

In [ ]:
TTC_realocdf = pd.DataFrame(TTC_realoc, columns=["lat", "long"])
ttcdf = pd.concat([ttcdf, TTC_realocdf], axis = 1)

In [ ]:
ttcdf.head(3)
ttcdf.to_excel("TTC_Stn.xlsx")

In [9]:
subwaydf = pd.read_excel("TTC_Stn.xlsx")

In [11]:
house_df = pd.read_csv("houses.csv")
house_df.head(3)

   index  ... district_code
0      0  ...            76
1      1  ...            14
2      2  ...           104

[3 rows x 18 columns]

In [12]:
def dist_subway(list_loc, df):
    s  = []
    for i in range(len(df)):
        lon1, lon2 = radians(list_loc[1]), radians(df.loc[i, "long"])
        lat1, lat2 = radians(list_loc[0]), radians(df.loc[i, "lat"])
        
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        dist = 2 * asin(sqrt(a))*6371
        s.append([df.loc[i, "LINE"], df.loc[i,"STATION"], dist])
    s.sort(key=lambda z: z[2])
    return s[0]

subway_min = []
for ri in range(len(house_df)):
    list_loc = [house_df.loc[ri, "lat"], house_df.loc[ri,"long"]]
    subway_min.append(dist_subway(list_loc, subwaydf))

In [13]:
subway_mindf = pd.DataFrame(subway_min, columns=["Line", "Station", "Dist"])
subway_mindf.head(3)

                       Line    Station      Dist
0  Yonge-University-Spadina    College  0.224219
1            Bloor-Danforth  Islington  0.513474
2  Yonge-University-Spadina   Eglinton  0.407749

In [14]:
listing_subwaydf = pd.concat([house_df,subway_mindf], axis=1)
listing_subwaydf.head(10)

   index  ...      Dist
0      0  ...  0.224219
1      1  ...  0.513474
2      2  ...  0.407749
3      3  ...  2.597742
4      4  ...  4.963568
5      5  ...  4.505456
6      6  ...  1.070891
7      7  ...  3.076952
8      8  ...  1.000064
9      9  ...  8.815743

[10 rows x 21 columns]

In [15]:
listing_subwaydf.to_excel("house_detail.xlsx")